# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/miku-hero/FileContentIndex/13e7da26-1fb1-47ae-9054-ed49872a66cf.vsidx
.vs/miku-hero/FileContentIndex/24e863e8-cf55-40c8-ae26-676930e8f535.vsidx
.vs/miku-hero/config/applicationhost.config
.vs/miku-hero/FileContentIndex/42b63052-4866-46a3-b1b6-cbfcb421de31.vsidx
.vs/slnx.sqlite
.vs/miku-hero/FileContentIndex/8b6801d5-a9d5-44de-a999-5457b3ad7db9.vsidx
.vs/VSWorkspaceState.json
.vs/miku-hero/v17/DocumentLayout.json
.vs/miku-hero/FileContentIndex/3aef8254-d0fb-486c-bd34-077a4c8b11bc.vsidx
.vs/miku-hero/v17/.wsuo
