@font-face {
    font-family: 'PixelMplus10-Regular';
    src: url('./PixelMplus10-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.grid-container {
    display: grid;
    grid-template-areas:
        '1 1 1'
        '1 1 1'
        '1 1 1';
}

.centerItems {
    justify-content: center;
    align-items: center;
    display: flex;
}

#context {
    font-family: "PixelMplus10-Regular", sans-serif;
    color: #000000;
}

#loadingOverlay {
    position: fixed;
    background: #fff;
    z-index: 3;
    width: 100%;
    height: 100%;
    font-family: 'PixelMplus10-Regular';
}

#playOverlay {
    /* background: #c7c7c7; */
    text-align: center;
    font-family: 'PixelMplus10-Regular';
    position: fixed;
    height: 100%;
    width: 85%;
    z-index: 2;
}

#pauseOverlay {
    text-align: center;
    font-family: 'PixelMplus10-Regular';
    position: fixed;
    height: 100%;
    width: 85%;
    z-index: 2;
    animation: slideTransition 0.3s;
}

#statsDiv {
    justify-content: right;
    font-family: 'PixelMplus10-Regular';
    position: fixed;
    height: 100%;
    width: 85%;
    z-index: 2;
    display: none;
}

#stats {
    margin: 40px;
    font-size: 30px;
}

#gameOverOverlay {
    text-align: center;
    flex-direction: column;
    font-family: 'PixelMplus10-Regular';
    position: fixed;
    height: 100%;
    width: 85%;
    z-index: 3;
    animation: slideTransition 0.3s;
}

#media {
    position: absolute;
    bottom: 10px;
    z-index: 1;
    width: calc(80px + 16vmin);
}

img {
    pointer-events: none;
    user-select: none;
}

.noSelect {
    pointer-events: none;
    user-select: none;
}

/* lyrics animation can we do this */
@keyframes slideTransition {
    0% {
        transform: translate3d(0, 100%, 0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

/* #canvas{
    animation: showLyrics 0.5s;
}
   */



.bar {
    height: 1px;
    width: 10%;
    background-color: #000000;
    margin: 0 2px;
    animation: largeWaveAnim ease-in-out infinite alternate;
}

@keyframes largeWaveAnim {
    0% {
        height: 40px;
    }

    100% {
        height: 100px;
    }
}

.bar:nth-child(-n+10), .bar:nth-last-child(-n+10) {
    animation-name: mediumWaveAnim;
}

@keyframes mediumWaveAnim {
    0% {
        height: 30px;
    }

    100% {
        height: 75px;
    }
}

.bar:nth-child(-n+5), .bar:nth-last-child(-n+5) {
    animation-name: smallWaveAnim;
}

@keyframes smallWaveAnim {
    0% {
        height: 20px;
    }

    100% {
        height: 50px;
    }
}
